{#
/**
 * @file
 * WWD Theme Component.
 */
#}

{{ attach_library('edwt/c--navbar') }}
{{ attach_library('edwt/c--nav') }}
{{ attach_library('wwd/s--nav') }}

{% set navbar_attribute = create_attribute() %}
{%
  set header_classes = [
    'navbar',
    'flex-grow-1',
    navbar.expand,
    navbar.bg ? navbar.bg,
    navbar.color,
    navbar.out ? navbar.out,
  ]
%}

<nav{{ navbar_attribute.addclass(header_classes) }}>
  <div class="container">
    <div class="exw">
      {{ page.branding }}

      <button
        class="navbar-toggler collapsed hamburger hamburger--collapse"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainSidebar"
        aria-controls="mainSidebar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="mainSidebar">
      <div class="container g-md-0">
        <div class={{ navbar.align }}>
          {{ page.nav_main }}
        </div>

        {{ page.nav_additional }}
      </div>
    </div>
  </div>
</nav>
