{#
/**
 * @file
 * WWD Theme Component.
 */
#}

{%
  set footer_classes = [
    'footer',
  ]
%}

{% if page.pre_footer %}
  {{ page.pre_footer }}
{% endif %}

{% if page.footer or page.footer_left or page.footer_bottom %}
  <footer
    {{- footer_attribute
      .setAttribute('id', 'footer')
      .addclass(footer_classes)
    -}}
  >
    <div class="container">
      <div class="row py-region">
        {{- page.footer_left -}}
        {{- page.footer -}}
      </div>

      {{- page.footer_bottom -}}
    </div>
  </footer>
{% endif %}

