{#
/**
 * @file
 * WWD Theme Component.
 */
#}



{%
  set footer_classes = [
    'footer',
  ]
%}

{% if page.pre_footer %}
  {{ page.pre_footer }}
{% endif %}

{% if page.footer or page.footer_left or page.footer_bottom %}
  <footer
    {{- footer_attribute
      .setAttribute('id', 'footer')
      .addclass(footer_classes)
    -}}
  >
    <div class="container">
      <div class="row py-region">
        {{- page.footer_left -}}

        <div class="col-lg-7">
          {{- page.footer -}}
        </div>
      </div>

      {{- page.footer_bottom -}}
    </div>
  </footer>
{% endif %}

<a class="back-to-top" href="#main-content">
  <span class="visually-hidden">{{ "Back to Top"|t }}</span>
  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="50" height="50" rx="25" fill="rgba(255, 255, 255, .75)"/>
    <path d="M28.6333 28.3459L24.8125 24.5251L20.9917 28.3459L19.8125 27.1668L24.8125 22.1668L29.8125 27.1668L28.6333 28.3459Z" fill="#0ABAFF"/>
  </svg>
</a>
