{#
/**
 * @file
 * WWD override to display a node.
 */
#}

{{ attach_library('wwd/n--events--teaser') }}

{%
  set classes = [
    'node',
    'node--' ~ node.bundle|clean_class,
    'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="row">
    {{- content.field_event_date -}}
    {{- content.field_image -}}

    <div class="col d-flex flex-column">
      <div class="node--content">
        {{- content.field_country -}}

        <h3 class="node--title">
          {{ label }}
        </h3>

        {{- content.field_organizer -}}
        {{- content.field_event_info -}}
      </div>

      <button
        class="btn btn-link btn-plus mt-2 ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#nid{{ node.id }}"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        {{- "Read More"|t -}}
      </button>
    </div>
  </div>

  <div class="collapse" id="nid{{ node.id }}">
    {{- content|without('field_event_date', 'field_image', 'field_country', 'field_organizer', 'field_event_info') -}}
  </div>
</article>
