{#
/**
 * @file
 * Default theme implementation for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}


{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>
    {% if 'field-box-gradient' in attributes.for|render %}
      {% set clearTitle = title|render|striptags %}
      {% set splitTitle =  clearTitle|split('|') %}
      <span class="visually-hidden">{{ title }}</span>
      <div class="gr-box" style="--bg-c1: {{ splitTitle.0 }}; --bg-c2: {{ splitTitle.1 }};"></div>
    {% else %}
      {{ title }}
      {{ required ? ' *' }}
    {% endif %}
  </label>
{%- endif %}
