{#
/**
 * @file
 * WWD Theme override to display a block.
 */
#}

{{ attach_library('wwd/c--video-text') }}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="container">
    {% if label %}
      <h2{{ title_attributes.addClass('h1', 'block--title') }}>
        {{- label -}}
      </h2>
    {% endif %}

    <div{{ content_attributes.addClass('block__content') }}>
      {{ content }}
    </div>
  </div>
</div>
