{#
/**
 * @file
 * WWD Theme override to display a block.
 */
#}

{{ attach_library('wwd/b--mapbox') }}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'block--mapbox',
    'homepage' in theme ? 'homepage' : 'filter',
  ]
%}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if theme == 'homepage' %}
    <span class="mapbox--bgg" style="{{- content.field_background|render|striptags -}}"></span>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {%- if content.field_intro_title -%}
            <h2{{title_attributes.addClass('h1','block--title')}}>
              {{- content.field_intro_title -}}
            </h2>
          {%- endif -%}

          {{- content.body -}}

          {# If theme is homepage style, display CTA #}
          {% if content.field_cta %}
            {{- content.field_cta -}}
          {% endif %}

          {% if event is not empty %}
            {{- event -}}
          {% endif %}
        </div>

        <div class="col-md-8 text-end">
          <a href="{{ path('node.add', {'node_type': 'events'}) }}" class="btn btn-outline-primary my-3">
            {{- "Register your event"|t -}}
          </a>

          {{ drupal_block('events_map_block', wrapper=false) }}
        </div>
      </div>
    </div>
  {% else %}
    <span class="mapbox--bgg" style="{{- content.field_background|render|striptags -}}"></span>

    <div class="intro-info">
      {%- if content.field_intro_title -%}
        <h2{{title_attributes.addClass('h1','block--title')}}>
          {{- content.field_intro_title -}}
        </h2>
      {%- endif -%}

      {{- content.body -}}
      {# Display filters is any #}
      {% if filters is not empty %}
        {{ filters }}
      {% endif %}
    </div>

    <span class="mapbox--bgg-link"></span>

    <div class="mapbox--link">
      {# If theme is homepage style, display CTA #}
      <a href="{{ path('node.add', {'node_type': 'events'}) }}" class="btn btn-link btn-arrow white">
        {{- "Register your event"|t -}}
      </a>
    </div>

    <div class="map-info">
      {{ drupal_block('events_map_block', wrapper=false) }}
    </div>
  {% endif %}
</div>

