
{#
/**
 * @file
 * Eau de Web Theme Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{%
  set classes = [
    'navbar-brand',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {%- if site_logo -%}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
  </a>
  {%- endif -%}

  <svg width="61" class="ms-3" height="36" viewBox="0 0 61 36" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M26.0234 34.5359H33.5822V12.1454H26.0234V34.5359Z" fill="white"/>
  <path d="M27.7451 11.2959L29.8997 4.53623H46.0944L48.3199 11.3313H41.9983V28.1416H34.2796V11.2959H27.7451Z" fill="white"/>
  <path d="M42.6967 28.6393H39.6543V34.5347H51.8239L53.292 28.663H47.5386V25.8454H49.8588L51.2558 20.163H47.8227V17.535H54.0259L51.4925 10.29H48.6514L49.1959 11.8527H42.6967V28.6393Z" fill="white"/>
  <path d="M49.9536 9.68614C49.9536 9.68614 51.2793 5.41243 55.849 6.02812C57.4886 6.17663 58.5008 6.85679 58.5008 6.85679L60.679 12.847C60.679 12.847 58.4771 10.9528 57.1749 13.4152C57.1749 13.4152 56.725 14.0781 57.53 15.6408C58.335 17.2035 60.5842 22.2465 60.5842 22.2465C60.5842 22.2465 61.1051 23.5249 60.8684 24.7798C60.6316 26.0346 59.9213 29.2073 56.3462 29.7044C54.0259 29.965 53.7419 29.7755 53.7419 29.7755L54.1916 28.0708H50.1193L51.1029 24.188H52.6054C52.6054 24.188 53.6708 23.88 53.292 22.3411L51.4453 18.1505H54.8546L51.9187 9.68614H49.9536Z" fill="white"/>
  <path d="M20.2825 34.0224C20.2825 33.5887 20.6674 33.2358 21.1404 33.2358C21.6134 33.2358 21.9983 33.5887 21.9983 34.0224C21.9983 34.4561 21.6134 34.8089 21.1404 34.8089C20.6674 34.8089 20.2825 34.4561 20.2825 34.0224ZM20.0276 34.0224C20.0276 34.5967 20.5269 35.064 21.1404 35.064C21.7541 35.064 22.2532 34.5967 22.2532 34.0224C22.2532 33.4482 21.7541 32.9808 21.1404 32.9808C20.5269 32.9808 20.0276 33.4482 20.0276 34.0224Z" fill="#231F20"/>
  <path d="M21.3998 33.78C21.385 33.7572 21.3663 33.7369 21.3437 33.7195C21.3213 33.7021 21.2959 33.6886 21.2676 33.6789C21.2392 33.6693 21.2096 33.6644 21.1787 33.6644C21.1219 33.6644 21.0738 33.6748 21.0343 33.6958C20.9948 33.7168 20.9627 33.7448 20.9381 33.7801C20.9135 33.8155 20.8956 33.8554 20.8844 33.9004C20.8732 33.9454 20.8675 33.9919 20.8675 34.0399C20.8675 34.0859 20.8732 34.1307 20.8844 34.174C20.8956 34.2175 20.9135 34.2566 20.9381 34.2914C20.9627 34.3261 20.9948 34.3539 21.0343 34.3748C21.0738 34.3958 21.1219 34.4063 21.1787 34.4063C21.2556 34.4063 21.3157 34.3839 21.3589 34.3388C21.4023 34.2939 21.4287 34.2347 21.4383 34.1611H21.6821C21.6756 34.2296 21.6591 34.2914 21.6324 34.3466C21.6057 34.4017 21.5704 34.4487 21.5264 34.4875C21.4827 34.5264 21.4314 34.5561 21.3726 34.5765C21.3139 34.5968 21.2492 34.6072 21.1787 34.6072C21.0909 34.6072 21.0121 34.5926 20.9421 34.5634C20.872 34.5343 20.8129 34.4941 20.7647 34.4431C20.7165 34.3919 20.6795 34.3319 20.6539 34.2629C20.6281 34.1939 20.6152 34.1196 20.6152 34.0399C20.6152 33.9581 20.6281 33.8822 20.6539 33.8122C20.6795 33.7422 20.7165 33.6812 20.7647 33.629C20.8129 33.5768 20.872 33.536 20.9421 33.5063C21.0121 33.4767 21.0909 33.4618 21.1787 33.4618C21.2417 33.4618 21.3012 33.4706 21.3574 33.488C21.4135 33.5054 21.4638 33.5307 21.5081 33.5639C21.5525 33.5972 21.589 33.6383 21.6179 33.6872C21.6468 33.7363 21.665 33.7926 21.6724 33.8558H21.4287C21.4245 33.8283 21.4148 33.8029 21.3998 33.78Z" fill="#231F20"/>
  <path d="M25.4862 22.9959C22.6712 25.4657 17.9989 26.8643 17.9989 26.8643C14.8652 27.8469 11.9705 27.2627 11.9705 27.2627C8.06665 26.5191 5.64999 24.9788 3.76447 23.5978C1.87895 22.2169 0.330322 20.0858 0.330322 20.0858C2.45486 22.1306 4.82674 23.0932 4.82674 23.0932C9.02356 25.1256 11.7315 25.1912 15.9009 24.129C20.4375 22.928 25.1808 18.3276 25.4862 18.0387V22.9959Z" fill="white"/>
  <path d="M25.4861 14.6934C25.4861 14.6934 23.1046 17.0848 20.3344 17.2031C17.5644 17.3215 15.2913 15.1906 14.9599 13.1544C14.6285 11.1184 15.244 9.1058 17.4459 7.77988C17.4459 7.77988 20.0741 5.98051 23.6255 7.73251L24.1464 7.99297L26.0865 1.79625C26.0865 1.79625 18.8295 -2.01761 12.5332 2.14138C9.14308 4.32805 6.97776 8.15646 6.97776 12.55C6.97776 13.8155 7.15959 14.8863 7.49777 15.7923C8.05857 17.6546 9.07926 19.2402 10.3213 20.3664C10.3213 20.3664 12.7305 22.8812 16.2915 23.8503C16.1477 23.8947 16.0038 23.9365 15.8601 23.9747C12.0157 24.9542 9.26387 25.0647 4.89613 22.9496C4.86983 22.936 2.08278 21.7051 0 19.7004C0 19.7004 1.78967 22.3488 3.67026 23.7261C5.69968 25.2124 8.1062 26.6885 11.9406 27.4189C11.9682 27.4245 14.91 27.9996 18.0464 27.0162C18.0867 27.0049 22.6763 25.6377 25.4861 23.1726V22.8009C22.7316 25.2176 18.0001 26.6982 17.9558 26.7106C14.8956 27.6701 12.0305 27.112 12.0019 27.1061C8.22795 26.3874 5.85781 24.9332 3.85855 23.469C2.93804 22.7948 2.16802 21.9854 1.38763 21.1376C3.17563 22.4892 4.73007 23.2225 4.75343 23.2345C9.21354 25.3944 12.0195 25.2819 15.9401 24.283C20.2473 23.1429 24.6492 19.1302 25.4861 18.3373V18.3188C25.49 18.3152 25.4861 18.3128 25.4861 18.3128V14.6934Z" fill="white"/>
  </svg>


  {%- if site_name -%}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-title">
    {{- site_name -}}
  </a>
  {%- endif -%}

  {%- if site_slogan -%}
  <div class="site-slogan">
    {{- site_slogan -}}
  </div>
  {%- endif -%}
</div>
